In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

2.2.3

In [4]:
import os
import pandas as pd

# Define the new folder path
folder_path = 'csvs'

# Create the folder if it does not exist
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Define the data for the CSV file
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Salary': [70000, 80000, 75000, 90000]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
csv_file_path = os.path.join(folder_path, 'exercise_data.csv') #the join function is used to join the folder path and the file name
df.to_csv(csv_file_path, index=False) #this line is used to save the DataFrame to a CSV file

# Exercise 1

-Print the first 3 rows of the DataFrame.
-Calculate the average salary of all individuals.
-Find the city with the highest average salary.
-Create a new column 'Age Group' that categorizes individuals into 'Young' (20-29), 'Adult' (30-39), and 'Middle Aged' (40-49) based on their age.

In [6]:
df = pd.read_csv('csvs/exercise_data.csv')
df

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   75000
3    David   40      Houston   90000

In [8]:
df[:3]

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   75000

In [9]:
import numpy as np

In [14]:
average_salary = np.average(df['Salary'])
print(f'The average salary is {average_salary}')

The average salary is 78750.0

In [18]:
max_salary = max(df['Salary'])
for row in df:
    print (row)

Name
Age
City
Salary

In [20]:
df.loc[1, 'City']

'Los Angeles'

In [21]:
df.iloc[0, 2]

'New York'

In [22]:
df.loc[:1, 'Name':'Age']

    Name  Age
0  Alice   25
1    Bob   30

In [24]:
df['Name'] #this returns a series as can be used for indexing for example.

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [25]:
df[['Name']] #this returns a dataframe

      Name
0    Alice
1      Bob
2  Charlie
3    David

### Some libraries expect matrices not vectors, for example scikit-learn and would raise an error if you pass a series as input.

In [28]:
#example
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(df[['Age']], df['Salary'])

LinearRegression()

In [30]:
#the regressor.fit(df['Age'], df['Salary']) would raise an error
#you can use the regressor.fit(df[['Age']], df['Salary']) to predict the salary based on the age:
predicted_salary = regressor.predict([[32]])  # Replace 32 with the age you want to predict the salary for
print(f'The predicted salary for age 32 is {predicted_salary[0]}')

The predicted salary for age 32 is 78200.0

C:\Users\gebez\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [36]:
df1 = df[[True, False, False, True]]

In [37]:
df1

    Name  Age      City  Salary
0  Alice   25  New York   70000
3  David   40   Houston   90000

In [38]:
df2 = df[df['Age'] > 30] # essentially applying a boolean series as above
df2

      Name  Age     City  Salary
2  Charlie   35  Chicago   75000
3    David   40  Houston   90000

In [40]:
type(df['Age'] > 30)

pandas.core.series.Series

In [41]:
df['Age'] > 30

0    False
1    False
2     True
3     True
Name: Age, dtype: bool

In [42]:
series1 = df['Name']
series2 = df['Age']
for name, age in zip(series1, series2):
    print(f'{name} is {age} years old')

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old
David is 40 years old

In [43]:
df = pd.read_csv('csvs/exercise_data.csv')
<<<<<<<<<<<<<<  âœ¨ Codeium Command ðŸŒŸ >>>>>>>>>>>>>>>>
df

       Name  Age           City  Salary       Department  Experience
0     Alice   21       New York   70000      Engineering           2
1       Bob   30    Los Angeles   80000        Marketing           8
2       Eve   25         Boston   85000          Finance           4
3     Frank   35     Washington   72000  Human Resources          10
4   Charlie   19        Chicago   75000            Sales           1
5     David   40        Houston   90000      Engineering          15
6    George   22         Dallas   68000               IT           3
7    Hannah   28  San Francisco   78000        Marketing           5
8      Ivan   32   Philadelphia   70000            Sales           7
9     Julia   29         Denver   82000          Finance           9
10    Kevin   26        Seattle   75000  Human Resources           4

In [47]:
# Check if numpy is imported
'numpy' in sys.modules

True

In [48]:
np

In [49]:
ages = np.array(df['Age'])
ages

array([21, 30, 25, 35, 19, 40, 22, 28, 32, 29, 26])

In [50]:
type(ages)

numpy.ndarray

In [51]:
ages_mult = ages * 2
ages_mult

array([42, 60, 50, 70, 38, 80, 44, 56, 64, 58, 52])

In [52]:
df['Age'] * 2

0     42
1     60
2     50
3     70
4     38
5     80
6     44
7     56
8     64
9     58
10    52
Name: Age, dtype: int64

In [55]:
ages_list = list(ages)
print(ages_list)

[np.int64(21), np.int64(30), np.int64(25), np.int64(35), np.int64(19), np.int64(40), np.int64(22), np.int64(28), np.int64(32), np.int64(29), np.int64(26)]

In [56]:
ages_list = [age for age in ages]
print(ages_list)

[np.int64(21), np.int64(30), np.int64(25), np.int64(35), np.int64(19), np.int64(40), np.int64(22), np.int64(28), np.int64(32), np.int64(29), np.int64(26)]

In [57]:
ages_list = ages.tolist()
print(ages_list)

[21, 30, 25, 35, 19, 40, 22, 28, 32, 29, 26]

In [58]:
ages_list * 2

[21,
 30,
 25,
 35,
 19,
 40,
 22,
 28,
 32,
 29,
 26,
 21,
 30,
 25,
 35,
 19,
 40,
 22,
 28,
 32,
 29,
 26]